<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../style.css" />

    <title>Игра ДАТА</title>
</head>
<body>
    <div class="main">
        <h1>НАЗВАНИЕ</h1>
        <h3>ДАТА</h3>


        <h2>Места — младшие</h2>
        <ol type="1">
            <li>ПЕРВОЕ</li>
            <li>ВТОРОЕ</li>
            <li>ТРЕТЬЕ</li>
        </ol>
        <h2>Места — средние</h2>
        <ol type="1">
            <li>ПЕРВОЕ</li>
            <li>ВТОРОЕ</li>
            <li>ТРЕТЬЕ</li>
        </ol>
        <h2>Места — старшие</h2>
        <ol type="1">
            <li>ПЕРВОЕ</li>
            <li>ВТОРОЕ</li>
            <li>ТРЕТЬЕ</li>
        </ol>

        <h2>Вопросы и ответы</h2>


        <h4><br>ВОПРОС</h4>
        <p>ОТВЕТ</p>


    </div>

    <div id="info">
        <div class="main">

            <p class="note">¹Вопрос не принимался в зачет по одной из причины: ответ был проговорен ведущим, вопрос был шуточным, имеет разночтения или вызвал возмущения зала.</p>

            <hr>

            <p>По вопросам обращаться farmat_entertainment@icloud.com.</p>

            <hr>
            <p>Мы не являемся владельцами товарного знака «Эрудит».</p>
            <p>С зарегистрированными товарными знаками вы можете ознакомиться по ссылке:<br>
                https://emdigital.ru/tools/poisk-tovarnogo-znaka-online/?name=ЭРУДИТ<br>
            </p>

            <hr>
            <p>Мы не являемся владельцами товарного знака «Что? Где? Когда?». Таковыми являются ООО «Телекомпания «Игра-ТВ».</p>
            <p>Мы не проводим игры под кураторством ООО «Телекомпания «Игра-ТВ». Только мы берём ответственность за нашу деятельность. </p>
            <p>Официальный сайт «Что? Где? Когда?» — https://chgk.tvigra.ru</p>
        </div>
    </div>
</body>
</html>